@import "_nullstyle.scss";
@import "_fonts.scss";

$td: 0.1s;

.backgr-svg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	> svg, > img {position: absolute;}
}

.content{
	position: absolute;
	left: 19.5%;
	width: 1170px / 1920px * 100%;
}

.header {
	position: relative;
	height: 845px;
	
	&__content {
		top: 35px;
		height: 72px + 746px;
	}

	&__backgr-svg{
		background: #ebeafa;
	}

	&__logo{
		margin-top: 6px;
	}

	&__top-panel {
		justify-content: space-between;
		display: flex;
		*{display: flex;}
	}

	&__navigation {
		width: 500px / (120px + 923px + 128px) * 100%;
		min-width: 370px;
		justify-content: space-between;
	}

	&__link-padges {
		margin: auto;
		color: #111;
		font-family: Overpass;
		font-size: 20px;
		letter-spacing: -0.5px;
		transition-duration: $td;
		&:hover{
			color: #ff0000;
			transform: scale(1.2);
		}
	}

	&__btn-quote {
		width: 181px / (120px + 923px + 128px) * 100%;
		min-width: 106px;
		height: 48px;
		border: solid 2px #c04ae2;
		border-radius: 7px;
		display: block;
		background: none;
		color: #111;
		font-family: "Overpass";
		font-size: 18px;
		font-weight: 800;
		transition-duration: $td;
		&:hover{background: #c04ae2;}
		&:active{transform: scale(0.93);}
	}

	&__info {
		height: 425px + 60px + 72px;
		min-width: 430px;
		z-index: 1;
		margin-top: 112px;
		width: 50%;
	}
	&__title {
		font-family: Overpass;
		color: #111111;
		font-size: 70px;
		font-weight: 700;
		letter-spacing: -1px;
		line-height: 85px;
	}

	&__paragraf {
		margin-top: 25px;
		color: #5e5858;
		font-family: Roboto;
		letter-spacing: -0.6px;
		font-size: 25px;
		line-height: 35px;
	}

	&__btn-start {
		margin-top: 42px;
		width: 190px;
		height: 55px;
		border-radius: 7px;
		background-color: #c04ae2;
		color: #ffffff;
		font-family: Overpass;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -0.6px;
		transition-duration: $td;
		&:hover{
			color: #c04ae2;
			border: solid 3px #c04ae2;
			background: none;
		}
		&:active{transform: scale(0.95);}
	}
	&__PC-svg{
		top: 180px;
		right: 60px;
		width: 680px;
	}
	
	&__svg-1 {
		top: 753px;
		width: 25px;
		left: 830px / 1980px * 100%;
		color: #00c6b5;
	}

	&__svg-2 {
		top: 251px;
		width: 28px;
		left: 1890px / 1980px * 100%;
		fill: #ff9b32;	}

	&__svg-3 {
		top: 175px;
		width: 27px;
		left: 1025px / 1980px * 100%;
	}

	&__svg-5 {
		top: 392px;
		width: 27px;
		left: 950px / 1980px * 100%;
	}

	&__svg-6 {
		top: 670px;
		width: 32px;
		left: 1905px/ 1980px * 100%;
	}

	&__svg-7 {
		top: 140px;
		width: 45px;
		left: 1610px / 1980px * 100%;
	}

	&__svg-8 {
		top: 765px;
		width: 25px;
		left: 1825px / 1980px * 100%;
	}

	&__svg-9 {
		top: 287px;
		width: 28px;
		left: 206px / 1980px * 100%;
	}

	&__svg-10 {
		top: 138px;
		width: 33px;
		left: 65px / 1980px * 100%;
	}

	&__svg-11 {
		top: 665px;
		z-index: 1;
		width: 32px;
		left: 187px / 1980px * 100%;
	}

	&__svg-12 {
		top: 640px;
		width: 108px;
		left: 72px / 1980px * 100%;
	}

	&__svg-13 {
		top: 95px;
		left: 1880px / 1980px * 100%;
		width: 45px;
		z-index: 1;
	}

	&__svg-14 {
		top: 70px;
		width: 120px;
		left: 1770px / 1980px * 100%;
	}
}

.social-links {
	width: 128px;
	justify-content: space-between;
	*{margin:auto;}
	> div{
		transition-duration: $td;
		&:hover{
			transform: scale(1.2);
		}
	}
	&__facebook {color: #3b5998;}
	&__twitter {color: #1da1f2;}
	&__youtube {color: #ff1e00;}
	&__instagram {color: #dd4b39;}
}

.sec1 {
	position: relative;
	height: 3600px;
	&__content {
		top: 152px;
		height: 3200px;
	}
	
	&__information-cards-type1 {
		background: none;
		display: flex;
		justify-content: space-between;
		margin-top: 90px;
	}

.backgr-svg {

	&__element1{
		top: 35px;
		right: 62px;
		width: 115px;
	}

	&__element2{
		top: 70px;
		right: 45px;
		width: 43px;
	}

	&__element3{
		top: 307px;
		left: 115px;
		width: 15px;
	}

}

.title-subtitle {

	&__subtitle {
		color: #c04ae2;
		font-size: 20px;
		font-family: Overpass;
		font-weight: 800;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
	}

	&__title {
		margin-top: 25px;
		color: #111;
		font-family: Overpass;
		letter-spacing: -2.6px;
		line-height: 57px;
		font-size: 50px;
		font-weight: 800;
		text-align: center;
	}
}

.info-card-type1 {
	width: 370px / 1170px * 100%;
	min-width: 280px;
	height: 392px;
	border-radius: 18px;
	background: none;
	padding: auto;

	&_border-color1 {
		border: 6px solid #fcd7df;
	}

	&_border-color2 {
		border: 6px solid #c9f3e2;
	}

	&_border-color3 {
		border: 6px solid #f2d5b3;
	}
}

.content-in-card {
	padding: 70px 35px;

	&__icon {
		height: 65px;
		margin: 0 37%;
	}

	&__title {
		text-align: center;
		color: #111111;
		font-family: Overpass;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.75px;
		line-height: 32px;
		margin-top: 35px;
	}

	&__paragraf {
		margin-top: 12px;
		text-align: center;
		font-family: Roboto;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
	}

}}